chromadb==1.1.0
fastapi==0.112.0
hdbscan==0.8.40
json2markdown==0.1.1
langchain-core==0.2.43
langchain-google-genai==1.0.8
langchain-ollama==0.1.1
langchain-text-splitters==0.2.2
langid==1.1.6
numpy==1.26.4
pydantic==2.8.2
python-dotenv==1.0.1
scikit-learn==1.5.1
sentence-transformers==3.0.1
supabase==2.22.0
supabase-auth==2.22.0
tiktoken==0.7.0
